@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Varela+Round%3Aregular&ver=3.8);
body{
	background-color: #F0F1F3;
	font-family: 'Open Sans', sans-serif !important;
}

header{
	border-top:3px solid #1ABC9C;
}

header nav{
	background-color: #3A4C56;
	text-align: center;
}

header nav ul{
	margin:0;
	padding: 0;
}

header nav ul li{
	display: inline-block;
	padding: 10px;
}

header nav ul li a{
	display: block;
	color:white;
	padding: 5px 10px;
	text-decoration: none;	
}

header nav ul li a:hover{
	background-color: #1ABC9C;
	border-radius: 5px;
	display: block;
	padding: 5px 10px;
}

.menu_seleccionado{
	background-color: #1ABC9C;
	border-radius: 5px;
	display: block;
	padding: 5px 10px;
}
footer{
	background-color: #FFFFFF;
	color:#777777;
	font-size: 0.9em;
	text-align: center;
	padding: 15px;
}

footer a{
	color:#333333;
	font-weight: bold;
}

#contenedor_contenido{
	box-sizing:border-box;
	margin:20px auto;
	padding: 20px;
	width: 1000px;
}

#contenedor_contenido .tabla_precio{
	background-color: #FFFFFF;
	border:1px solid #ebebeb;
	box-sizing:border-box;
	display: inline-block;
	margin: 20px 0;
	vertical-align: top;
	padding-bottom: 10px;
	width: 33%;
}

.tabla_precio .titulo{
	background-color: #2A3A43;
	box-sizing:border-box;
	color:white;
	font-family: 'Varela Round',sans-serif;
	padding: 10px;
	text-align: center;
}

.tabla_precio .texto{
	box-sizing:border-box;
	color:#777777;
	font-size: 0.9em;
	padding: 10px;
	text-align: center;
}

.tabla_precio .img_flecha{
	background-image: url('hostingprice.png');
	background-size: 100%;
	background-repeat: no-repeat;
	box-sizing:border-box;
	color: #1ABC9C;
	font-size: 4em;
	text-align: center;
	padding: 0 10px;
	width: 100%;
}

.tabla_precio .boton_comenzar_ahora{
	background-color: #1ABC9C;
	border-radius: 5px;
	box-sizing:border-box;
	color: #FFFFFF;
	display: block;
	margin:0 auto;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 60%;
}

.tabla_precio .boton_comenzar_ahora:hover{
	background-color: #27E1BD;
}

#contenedor_contenido .logos{
	box-sizing:border-box;
	display: inline-block;
	margin: 20px 0;
	vertical-align: center;
	padding: 0 50px;
	width: 33%;
}

.titulo_seccion{
	color:#333333;
	font-family: 'Varela Round',sans-serif;
	font-weight: normal;
	text-align: center;
	padding: 0;
	margin:0;
}

.titulo_seccion_2{
	color:#333333;
	font-family: 'Varela Round',sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	padding: 0;
	margin:0;
}

#contenedor_contenido .columna_paso{
	background-color: white;
	border:solid 2px #ebebeb;
	box-sizing:border-box;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	min-height: 150px;
	height: 150px;
	padding: 10px;
	width: 33%;
}

.circulo_paso{
	background-color: #333333;
	border-radius: 25px;
	color:white;
	font-size: 50px;
	line-height: 50px;
	margin:10px auto;
	height: 50px;
	width: 50px;
}

.ocultar{
	display: none;
}

.input_text_1{
	background-color: #F1F1F1;
	border:solid 2px #DEDEDE;
	box-shadow: #dedede;
	box-sizing:border-box;
	color: #777777;
	display: block;
	outline: 0px;
	padding: 8px 10px;
	max-width: 100%;
	width: 100%;
}

.input_textarea_1{
	background-color: #F1F1F1;
	border:solid 2px #DEDEDE;
	box-shadow: #dedede;
	box-sizing:border-box;
	color: #777777;
	display: block;
	min-height: 156px;
	outline: 0px;
	padding: 8px 10px;
	width: 100%;
}

.input_submit_1{
	background-color: #1ABC9C;
	border:0;
	border-radius: 5px;
	box-sizing:border-box;
	color: #FFFFFF;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
}

.input_submit_1:hover{
	background-color: #27E1BD;
}

.texto_contacto{
	color:#777777;
	display: block;
	margin: 10px 0;
}

.pregunta{
	color:#777777;
	font-size: 18px;
	max-height: 34px;
	line-height: 40px;
}

.pregunta_primer_letra{
	color: #27E1BD;
	font-size: 34px;
	float: left;
	margin-right: 10px;
}

.respuesta{
	color:#777777;
}

.respuesta_primer_letra{
	display: block;
	float: left;
	font-size: 34px;
	line-height: 34px;
	margin-top: 2px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.tabla_cambio_de_saldo{
	border:1px solid white;
	width: 100%;
}

.tabla_cambio_de_saldo tr:first-child td{
	background-color: #2A3A43;
	color:white;
	text-transform: uppercase;
}

.tabla_cambio_de_saldo td:first-child{
	background-color: #2A3A43;
	color:white;
	text-transform: uppercase;
}

.tabla_cambio_de_saldo td{
	background-color: white;
	padding: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f4f4f4;
	text-align: center;
}