			<center><img src='css/logo.png'/></center>
            <h1 class='ocultar'>Compra y venta de saldo</h1>
            <p class='titulo_seccion'>Contamos con cuentas Verificadas</p>
            <br/>
            <p class='titulo_seccion_2'>Cambio de Saldo</p>
            <br/>
            <p>
            	Desde esta sección podes cambiar saldo en tu cuenta Paypal, Neteller y Payoneer en el día. A continuación puedes observar la tabla con los ratios de conversión. 
            </p>
            <table class='tabla_cambio_de_saldo'>
            	<tr>
            		<td>-</td>
            		<td>Paypal</td>
            		<td>Payoneer</td>
            		<td>Neteller</td>
            	</tr>
            	<tr>
            		<td>Paypal</td>
            		<td>0.00%</td>
            		<td>10.00%</td>
            		<td>10.00%</td>
            	</tr>
            	<tr>
            		<td>Payoneer</td>
            		<td>10.00%</td>
            		<td>0.00%</td>
            		<td>10.00%</td>
            	</tr>
            	<tr>
            		<td>Neteller</td>
            		<td>10.00%</td>
            		<td>10.00%</td>
            		<td>0.00%</td>
            	</tr>
            </table>
            <br/>
            <section class='columna_paso'>
                  <div class='circulo_paso'>1</div>
                  Nos escribes diciendonos cuanto saldo quieres cambiar y a que procesador.
            </section>
            <section class='columna_paso'>
                  <div class='circulo_paso'>2</div>
                  Recibes los datos donde dépositar. el saldo a cambiar.
            </section>
            <section class='columna_paso'>
                  <div class='circulo_paso'>3</div>
                  Recibes el saldo en tu procesador elegido.
            </section>