			<center><img src='css/logo.png'/></center>
            <h1 class='ocultar'>Compra y venta de saldo</h1>
            <p class='titulo_seccion'>Contamos con cuentas Verificadas</p>
            <br/>
            <p class='titulo_seccion_2'>Compra de Saldo</p>
            <br/>
            <p>
            	Desde esta sección podes comprar y cargar saldo en tu cuenta Paypal, Neteller y Payoneer en el día. Operamos a través de depósito bancario en nuestra cuenta de HSBC. 
            </p>
            <section class='columna_paso'>
            	<div class='circulo_paso'>1</div>
            	Nos escribes diciendonos cuanto saldo quieres comprar.
            </section>
            <section class='columna_paso'>
            	<div class='circulo_paso'>2</div>
            	Recibes el precio y los datos donde dépositar.
            </section>
            <section class='columna_paso'>
            	<div class='circulo_paso'>3</div>
            	Recibes el saldo en tu procesador elegido.
            </section>