		<center><img src='css/logo.png'/></center>
            <h1 class='ocultar'>Compra y venta de saldo</h1>
            <p class='titulo_seccion'>Contamos con cuentas Verificadas</p>
            <br/>
            <p class='titulo_seccion_2'>Contacto | Puede contactarnos a travez del siguiente formulario</p>
            <br/>
            <form class='formulario_contacto' action='{ruta_app}enviar_contacto' method='POST' data-contenedor='#resultado_contacto'>
                  <table style='width:100%;'>
                  	<tr>
                  		<td>
                  			<span class='texto_contacto'>Nombre (requerido)</span>
                  			<input type='text' class='input_text_1' name='nombre'>
                  		</td>
                  		<td>
                  			<span class='texto_contacto'>Email (requerido)</span>
                  			<input type='text' class='input_text_1' name='correo'>
                  		</td>
                  		<td>
                  			<span class='texto_contacto'>Asunto</span>
                  			<input type='text' class='input_text_1' name='asunto'>
                  		</td>
                  	</tr>
                  	<tr>
                  		<td colspan='3'>
                  			<span class='texto_contacto'>Mensaje (requerido)</span>
                  			<textarea class='input_textarea_1' name='mensaje'></textarea><br/>
                  			<input type='submit' value='Enviar Mensaje' class='input_submit_1'/>
                  		</td>
                  	</tr>
                  </table>
            </form>
            <div id='resultado_contacto' style='text-align:center;'></div>