        <footer>
            CompraVentaSaldo.com - Todos los derechos reservados - info@compraventasaldo.com - Desarrollado por <a target='_blank' href='http://federiconicolasflores.com'>federiconicolasflores.com</a>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{ruta_app}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="{ruta_app}js/plugins.js"></script>
        <script src="{ruta_app}js/vendor/prefixfree.min.js"></script>
        <script src="{ruta_app}js/vendor/compraventasaldo.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-46946108-1');ga('send','pageview');
        </script>