            <center><img src='{ruta_app}css/logo.png'/></center>
            <h1 class='ocultar'>Compra y venta de saldo</h1>
            <p class='titulo_seccion'>Contamos con cuentas Verificadas</p>
            <br/>
            <section class='tabla_precio'>
                <div class='titulo'>Compra De Saldo</div>
                <div class='img_flecha'><i class="fa fa-chevron-circle-down"></i></div>
                <div class='texto'>comprar y cargar saldo en pesos para tu cuenta Paypal, Neteller y Payoneer en el día.</div>
                <a class='boton_comenzar_ahora' href='{ruta_app}compra_de_saldo'>Comprar Ahora!</a>
            </section>
            <section class='tabla_precio'>
                <div class='titulo'>Venta De Saldo</div>
                <div class='img_flecha'><i class="fa fa-chevron-circle-up"></i></div>
                <div class='texto'>Te compramos el saldo que tengas en tu cuenta, para que puedas obtener pesos en efectivo y utilizarlo en lo que tú desees.</div>
                <a class='boton_comenzar_ahora' href='{ruta_app}venta_de_saldo'>Vender Ahora!</a>
            </section>
            <section class='tabla_precio'>
                <div class='titulo'>Cambio De Saldo</div>
                <div class='img_flecha'><i class="fa fa-arrows-h"></i></div>
                <div class='texto'>Te cambiamos el saldo de tu cuenta Paypal, Neteller y Payoneer en el día. sin complicaciones.</div>
                <a class='boton_comenzar_ahora' href='{ruta_app}cambio_de_saldo'>Cambiar Ahora!</a>
            </section>
            <br/>
            <p class='titulo_seccion_2'>Operamos Mediante Los Siguientes Medios</p>
            <section class='logos'>
                <img src='{ruta_app}css/paypal.png' width='100%'/>
            </section>
            <section class='logos'>
                <img src='{ruta_app}css/payoneer.png' width='100%'/>
            </section>
            <section class='logos'>
                <img src='{ruta_app}css/neteller.png' width='100%'/>
            </section>