			<nav>
                <ul>
                    <li><a class='{clase_1}' href="{ruta_app}">Inicio</a></li>
                    <li><a class='{clase_2}' href="{ruta_app}compra_de_saldo">Compra de Saldo</a></li>
                    <li><a class='{clase_3}' href="{ruta_app}venta_de_saldo">Venta de Saldo</a></li>
                    <li><a class='{clase_4}' href="{ruta_app}cambio_de_saldo">Cambio de Saldo</a></li>
                    <li><a class='{clase_5}' href="{ruta_app}preguntas_frecuentes">Preguntas Frecuentes</a></li>
                    <li><a class='{clase_6}' href="{ruta_app}contacto">Contacto</a></li>
                </ul>
            </nav>