			<center><img src='css/logo.png'/></center>
            <h1 class='ocultar'>Compra y venta de saldo</h1>
            <p class='titulo_seccion'>Contamos con cuentas Verificadas</p>
            <br/>
            <p class='titulo_seccion_2'>Preguntas Frecuentes</p>
            <br/>
            <p class='pregunta'>
            	<span class='pregunta_primer_letra'><i class="fa fa-question-circle"></i></span> 
            	¿Cómo es la operación de Venta de Saldo?
            </p>
            <p class='respuesta'>
            	<span class='respuesta_primer_letra'>S</span>olicitas cotización por el monto que deseas vender.
				Te confirmamos el monto de la operación.
				Nos envías el saldo a nuestra cuenta paypal y acordás para pago en persona o por depósito bancario.
            </p>
            <p class='pregunta'>
            	<span class='pregunta_primer_letra'><i class="fa fa-question-circle"></i></span> ¿Qué comisiones debo tener en cuenta al momento de vender saldo?
            </p>
            <p class='respuesta'>
            	<span class='respuesta_primer_letra'>L</span>as mismas que cobra paypal por recibir dinero, esto es 0,54% + 0,30 ctvs del monto recibido. Esto es, si nos desea vender u$d 100, a nosotros nos queda limpio u$d 94. Ese valor es el que hay que tomar para el cálculo del total a recibir.
            </p>
            <p class='pregunta'>
            	<span class='pregunta_primer_letra'><i class="fa fa-question-circle"></i></span> ¿Cuánto cobran el asesoramiento?
            </p>
            <p class='respuesta'>
            	<span class='respuesta_primer_letra'>N</span>ecesitamos puntualmente nos indique acerca de sus necesidades para poder adaptar la mejor respuesta a sus necesidades.
            </p>
            <p class='pregunta'>
            	<span class='pregunta_primer_letra'><i class="fa fa-question-circle"></i></span> ¿Qué Significa un cliente para nosotros?
            </p>
            <p class='respuesta'>
            	<span class='respuesta_primer_letra'>U</span>na persona muy importante con una necesidad incumplida buscando una rápida confinada y eficaz solución.
				Sabemos que un cliente Satisfecho es siete veces más efectivo que la mejor campaña de marketing existente.
				Es por eso que a diario tratamos de profesionalizarnos al máximo.
            </p>