			<center><img src='css/logo.png'/></center>
            <h1 class='ocultar'>Compra y venta de saldo</h1>
            <p class='titulo_seccion'>Contamos con cuentas Verificadas</p>
            <br/>
            <p class='titulo_seccion_2'>Venta de Saldo</p>
            <br/>
            <p>
            	Desde esta sección podes vender el saldo de tu cuenta Paypal, Neteller y Payoneer en el día. Operamos a través de depósito bancario en nuestra cuenta de HSBC. 
            </p>
            <section class='columna_paso'>
            	<div class='circulo_paso'>1</div>
            	Nos escribes diciendonos cuanto saldo quieres vender.
            </section>
            <section class='columna_paso'>
            	<div class='circulo_paso'>2</div>
            	Recibes la cotización, y los datos de la cuenta donde enviar el saldo.
            </section>
            <section class='columna_paso'>
            	<div class='circulo_paso'>3</div>
            	Te transferimos el dinero a tu cuenta bancaria.
            </section>